html,
body {
  height: 100%;
}
.form-register,
.form-login {
  max-width: 25rem;
  margin: auto;
}
body {
  font-family: "Source Code Pro", monospace;
  /* font-family: "popins"; */
  /* padding-top: 2rem; */
  background-color: #f2afff;
}
body h1 {
  font-weight: 600;
}
